h1{
    text-align: center;
}
body{
    background-color: #ccc;
    padding: 1rem;
}
p{
    border: 1px solid black; 
    padding: 1rem;
}

.container{
display: flex;
justify-content: space-between;
gap: 1rem;
}
.box{
    width: 300px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    height: 300px;
    text-align: center;
    margin: 1rem;
}